{% extends "attendance/base.html" %}

{% block content %}

{% if user %}
<p>Welcome to the attendance page</p>

    {% if not signin %}
    <form method="POST" action="/attendance/signin">
        {% csrf_token %}
        {{form}}
        <a href="/attendance/signin"><button type="submit"/>Signin</button></a>
        </form>
    {% else %}
    <form method="POST" action="/attendance/signout">
        {% csrf_token %}
        {{form}}
        <a href="/attendance/signout"><button type="submit"/>Signout</button></a>
        </form>
    {% endif %}
{% else %}
<p>Please login</p>
{% endif %}

{% endblock content %}



<!--    {% if signin %}-->
<!--        <div class="container">-->
<!--          <form method="POST" action="">-->
<!--           {% csrf_token %}-->

<!--          <a href="/attendance/signout"><button type="button" name="session" class="btn btn-primary">SignOut</button></a>-->
<!--          </form>-->
<!--        </div>-->
<!--    {% else %}-->


<!--        <div class="container">-->
<!--          <form method="POST" action="">-->
<!--           {% csrf_token %}-->

<!--          <a href="/attendance/signin"><button type="button" name="session" class="btn btn-primary">SignIn</button></a>-->
<!--          </form>-->
<!--        </div>-->
<!--    {% endif %}-->