{% extends "attendance/base.html" %}

{% block content %}

{% if user %}
<p><strong>Welcome to the Leaves page</strong></p>
<div class="sidebar">
  <a href="#total">Total:10</a>
    {% if unapproved_leaves %}
  <a href="/attendance/approve_leaves">Approve Leave</a>
    {% endif %}

</div>
<div class="container">
    {% if not leaves_applied_for %}
    <form method="POST" action="/attendance/apply_leaves">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{form.email.label_tag}}</td><td>{{form.email}}</td>
            </tr>
            <tr>
                <td>{{form.leave_type.label_tag}}</td><td>{{form.leave_type}}</td>
            </tr>
            <tr>
                <td>{{form.from_date.label_tag}}</td><td>{{form.from_date}}</td><td>{{form.from_session.label_tag}}</td><td>{{form.from_session}}</td>
            </tr>
            <tr>
                <td>{{form.to_date.label_tag}}</td><td>{{form.to_date}}</td><td>{{form.to_session.label_tag}}</td><td>{{form.to_session}}</td>
            </tr>
            <tr>
                <td>{{form.applying_to.label_tag}}</td><td>{{form.applying_to}}</td>
            </tr>
            <tr>
                <td>{{form.cc_to.label_tag}}</td><td>{{form.cc_to}}</td>
            </tr>
            <tr>
                <td>{{form.contact_details.label_tag}}</td><td>{{form.contact_details}}</td>
            </tr>
            <tr>
                <td>{{form.reason.label_tag}}</td><td>{{form.reason}}</td>
            </tr>

        </table>

        <a href="/attendance/apply_leaves"><button type="submit"/>Apply</button></a>
    </form>
    {% else %}
    <p>You have already applied for leaves</p>
    {% endif%}
</div>
{% else %}
<p>Please login</p>
{% endif %}

{% endblock content %}

