{% extends "users/base.html" %}

{% block head %}
	<title>Login Form</title>
	<meta charset="utf-8">
	<style>
		@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body{
	background: Gainsboro;
	font-family: 'Roboto Condensed', sans-serif;
}
.box{
	width: 100%;
	height: 100vh;
}
#main-box{
	width: 450px;
	height: 530px;
	margin: 100px auto 0 auto;
	background: linear-gradient(125deg, rgb(186, 85, 211, 1) 0%, rgb(153, 50, 204, 1) 41% ,rgb(128, 0, 128, 1) 70%);

	box-shadow: 0 30px 40px -20px rgb(0,0,0,0.9);
}
#signin-box{
	width: 350px;
	height: 430px;
	margin: 100px auto 15px auto;
	padding-top: 150px;
	border-bottom: 2px solid rgb(255,255,255);
	/*box-shadow: 0px 9px 5px -9px rgb(0,0,0);*/
}
#email, #Password{
	width: 100%;
	height: 2.5em;
	background: transparent;
	font-size: 16px;
	color: rgb(255,255,255);
	border: none;
	border-bottom: 1px solid rgb(255,255,255);
	margin-bottom: 10px;
}
#email:focus, #Password:focus, #email:hover, #Password:hover{
	border-bottom: 2px solid rgb(255,255,255);
	transition: all ease-out 150ms;
	box-shadow: 0px 9px 5px -9px rgb(0,0,0);
}
#Password{
	margin-bottom: 20px;
}
.items{
	font-size: 12px;
	font-weight: 700;
	color: rgb(255,255,255);
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 1px;
}
input[type=checkbox] {
	visibility: hidden;
}
input[type="checkbox"] + .label-text:before {
  content: "\f096";
  color: rgb(255,255,255);
  font-family: "FontAwesome";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  width: 1em;
  display: inline-block;
  margin-right: 5px;

}
button{
	width: 100%;
	height: 35px;
	border-radius: 20px;
	margin-top: 50px;
	font-size: 18px;
	background: transparent;
	border:none;
	cursor: pointer;
	color: DarkViolet;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
	background: rgb(255,255,255);
}
button:hover{
	transition: all ease-out 200ms;
	box-shadow: 0px 10px 5px -7px rgb(0,0,0);
	transform: translate(0, -1px);
}
button:active{
	transform: translate(0, 1px);
	transition: all ease-out 200ms;
	box-shadow: 0px 10px 5px -20px rgb(0,0,0);
}
a{
	text-decoration: none;
	font-size: 12px;
	color: rgb(255,255,255);
	font-weight: 700;
}
input[type="checkbox"]:checked + .label-text:before {
  content: "\f14a";
  color: rgb(255,255,255);
   animation:trick 180ms ease-in;

}
.label-text{
	cursor: pointer;
	float: left;
	color: rgb(255,255,255);
	font-size: 14px;
	letter-spacing: 1px;
}
@keyframes trick{
  0%   {transform: scale(0); }
  90%  {transform: scale(1.4); }
  100%  {transform: scale(1); }

}


	</style>
{% endblock head %}

  {% block content %}

  {% if user.is_authenticated and user.email == 'aakash1avp@yahoo.com'%}
      <div class="container">
        <form method="POST" action="" enctype= "multipart/form-data">
          {% csrf_token %}

          <table class="table table-striped">
            <tr>
              <td>{{form.email.label_tag}}</td>
              <td>{{form.email}}</td>
            </tr>
            <tr>
              <td>{{form.password.label_tag}}</td>
              <td>{{form.password}}</td>
            </tr>
            <tr>
              <td>{{form.name.label_tag}}</td>
              <td>{{form.name}}</td>
            </tr>
            <tr>
              <td>{{form.phn_number.label_tag}}</td>
              <td>{{form.phn_number}}</td>
            </tr>
            <tr>
              <td>{{form.residential_address.label_tag}}</td>
              <td>{{form.residential_address}}</td>
            </tr>
            <tr>
              <td>{{form.current_address.label_tag}}</td>
              <td>{{form.current_address}}</td>
            </tr>
            <tr>
              <td>{{form.image.label_tag}}</td>
              <td>{{form.image}}</td>
            </tr>
            <tr>
              <td>{{form.reporting_manager.label_tag}}</td>
              <td>{{form.reporting_manager}}</td>
            </tr>
          </table>

        <button type="submit" class="btn btn-primary">Submit</button>

        </form>
      </div>


{% elif user.is_authenticated and user.email != 'aakash1avp@yahoo.com'%}
    <p>Welcome, User.You are now logged in </p>
{% else %}
  <p>Please login</p>
{% endif %}

  {% endblock content %}







