{% extends "users/base.html" %}




  {% block content %}

  {% if user.is_authenticated and user.email == 'aakash1avp@yahoo.com'%}
      <div class="container">
        <form method="POST" action="" enctype= "multipart/form-data">
          {% csrf_token %}

          <table class="table table-striped">
            <tr>
              <td>{{form.email.label_tag}}</td>
              <td>{{form.email}}</td>
            </tr>
            <tr>
              <td>{{form.password.label_tag}}</td>
              <td>{{form.password}}</td>
            </tr>
            <tr>
              <td>{{form.name.label_tag}}</td>
              <td>{{form.name}}</td>
            </tr>
            <tr>
              <td>{{form.phn_number.label_tag}}</td>
              <td>{{form.phn_number}}</td>
            </tr>
            <tr>
              <td>{{form.residential_address.label_tag}}</td>
              <td>{{form.residential_address}}</td>
            </tr>
            <tr>
              <td>{{form.current_address.label_tag}}</td>
              <td>{{form.current_address}}</td>
            </tr>
            <tr>
              <td>{{form.image.label_tag}}</td>
              <td>{{form.image}}</td>
            </tr>
            <tr>
              <td>{{form.reporting_manager.label_tag}}</td>
              <td>{{form.reporting_manager}}</td>
            </tr>
          </table>

        <button type="submit" class="btn btn-primary">Submit</button>

        </form>
      </div>


{% elif user.is_authenticated and user.email != 'aakash1avp@yahoo.com'%}
    <p>Welcome, User.You are now logged in </p>
{% else %}
  <p>Please login</p>
{% endif %}

  {% endblock content %}







