{% extends "users/base.html" %}
{% load static %}


{% block content %}
<!--<div class="container-lg">-->
<!--    <h1>Login</h1>-->
<!--    <form method="POST">-->
<!--      {% csrf_token %}-->
<!--      <table class="table table-striped">-->
<!--      &lt;!&ndash; {{ login_form }} &ndash;&gt;-->
<!--      -->
<!--      <tr>-->
<!--          <td>{{login_form.email.label_tag}}</td>-->
<!--          <td>{{login_form.email}}</td>-->
<!--      </tr>-->
<!--      -->
<!--      -->
<!--      <tr>-->
<!--        <td>{{login_form.password.label_tag}}</td>-->
<!--        <td>{{login_form.password}}</td>-->
<!--      </tr>-->
<!--  -->
<!--      </table>-->
<!--      <button class="btn btn-primary" type="submit">Login</button>-->
<!--    </form>-->


<!--  </div>-->





	<div id="box">
		<div id="main-box">
			<div id="signin-box">
				<form method="POST">
					{% csrf_token %}
					<label for="email">
						<span  class="items">e-mail</span><br/><br/>
							{{login_form.email}}
					</label>
					<label for="Password">
						<span  class="items">password</span><br/><br/>
							{{login_form.password}}
					</label>

					<button type="submit">Sign in</button>
				</form>

			</div>

		</div>
	</div>


{% endblock content %}



  